rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    
    // Regra para Conexões, Contatos e Mensagens
    match /{collectionName}/{document} {
      // O usuário só pode ler, criar, editar ou excluir se estiver autenticado
      // E se o clientId do documento bater exatamente com o UID do login dele (Isolamento SaaS)
      allow read, write: if request.auth != null && request.auth.uid == resource.data.clientId;
      allow create: if request.auth != null && request.auth.uid == request.resource.data.clientId;
    }
    
  }
}